<% include ../partials/header2 %>
    <div class="container project-container">
        <div class="row">
            <div class="col-sm-2">
                <img id="profilepic" src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" /><br> Admin: <strong><%= project.admin.username %></strong>
            </div>
            <div class="col-sm-10">
                <h1>
                    <%= project.name %>
                </h1>
                <p class="project-description">
                    <%= project.description %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <img class="project-image" src="<%= project.image %>">
            </div>
            <div class="col-sm-4 project-info">
                <div class="project-progress">
                    <progress value="<%= project.totalPledged %>" max="<%= project.goal %>"></progress>
                </div>
                <div class="project-backers">
                    <strong class="large-strong"><%= project.contributors %></strong><br>
                    <span class="light-text">Contributors</span>
                </div>
                
                
                <a class="btn btn-default" href="/projects/<%= project._id%>/rewards">Become a contributor</a>
            </div>
        </div>
    </div>