<% include ../partials/header2 %>
    <h1>Your activity</h1>
    <div class="project-row row">
        <h2 class="text-center myprojects-title">Current projects</h2>
        <!-- cambiar -->
        <% projects.forEach((project) => { %>

            <div class="col-sm-3 home-project-box project-container">
                <div class="title-project">
                    <a class="title" href="/profile/project/<%= project._id %>">
                        <strong><%= project.name %></strong>
                    </a>
                    
                </div>
                <div class="images-containter-project">
                    <div class="admin-pic-project"><%
                    if(project.admin.pic_path){%>
                        <img src="<%= project.admin.pic_path %>">
                        <% } else {%>
                        <img src="/images/Default-user.png">
                        <% } %>
                        
                    </div>
                    <div class="uni-pic-project">
                        <img src="/images/UPC_Logo.png">
                    </div>
                    <div class="department-pic-project">

                    <% if(project.admin.campus == "North"){%>                       
                        <img src="/images/Camins.png">
                        <% } else if (project.admin.campus == "South") {%>
                        <img src="/images/Etsab.png">
                        <% } else if (project.admin.campus == "Besòs") {%>
                        <img src="/images/EUETIB.png">
                        <% } else {%>
                        <img src="/images/Lostworld.png">
                        <% } %>
                    
                                    
                    </div>
                </div>
                <br>
                <div class="project-info-wrapper">
                    <div class="description-project">
                        <h5>Description:</h5>
                        <span class="light-text description"><%= project.description %></span>
                    </div>
                    <div class="description-project">
                        <h5>Keywords:</h5>
                        <span class="light-text keywords"><%= project.keywords %></span>
                    </div>
                    <div class="contributors-container">
                        <div class="contributors-title">
                            <h3>Contributors</h3>
                            <span class="light-text contributors"><%= project.contributors.length %></span>
                        </div>
                    </div>
                    <br>
                    <div class="description-project admin-title">
                        <strong>Admin:<strong> <span class="admin"><%
                    if(project.admin.name || project.admin.lastname){%>
                        <%= project.admin.name + '  ' + project.admin.lastname %>
                        <% } else {%>
                        <%= project.admin.username%>
                        <% } %>
                    </span>
                    </div>
                </div>
            </div>
            <%  }) %>
    </div>
