<% include ../partials/header2 %>
    <h1>Available projects</h1>
    <div class="project-row row">
        <h2 class="text-center">Current projects</h2>
        <!-- cambiar -->
        <% projects.forEach((project) => { %>
            <div class="col-sm-3 home-project-box">
                <img src="<%= project.admin.pic_path %>">
                <div class="project-info-wrapper">
                    <a class="title" href="/profile/project/<%= project._id %>">
                        <strong><%= project.name %></strong>
                    </a><br> by <span class="admin"><%
                    if(project.admin.name || project.admin.lastname){%>
                        <%= project.admin.name + '  ' + project.admin.lastname %>
                        <% } else {%>
                        <%= project.admin.username%>
                        <% } %>
                    </span>
                    <br>
                    <div>
                        <h5>Description:</h5>
                        <span class="light-text description"><%= project.description %></span>
                        <br>
                    </div>
                    <div>
                        <h5>Keywords:</h5>
                        <span class="light-text description"><%= project.keywords %></span>
                    </div>
                </div>
            </div>
            <%  }) %>
    </div>

    <!-- AÑADIR UN IF PARA CUANDO NO HAYA NOMBRE O APELLIDOS SE PONGA EL USERNAME-->
