<% include ../partials/header2 %>
    <div class="index-container">


        <div class="username-container">
            <% if(user.name){%>
                <%= user.name %>
                    <% } else {%>
                        <%= user.username%>
                            <% } %>
        </div>
        <div class="userpic-container">
            <img id="profilepic2" src="<%= user.pic_path %>" alt="<%= user.pic_name %>" />
        </div>

        <div class="userinfo-container">
            <h3 class="data">Telephone:</h3>
            <h2 class="telephone">
                <%= user.telephone %>
            </h2>
            <h3 class="data">Campus:</h3>
            <h2 class="campus">
                <%= user.campus %>
            </h2>
            <h3 class="data">Department:</h3>
            <h2 class="department">
                <%= user.department %>
            </h2>
            <h3 class="data">Email:</h3>
            <h2 class="email">
                <%= user.email %>
            </h2>
            <h3 class="data">Skills:</h3>
            <h2 class="skills">
                <%= user.skills %>
            </h2>
        </div>


    </div>
