<% include ../partials/header3 %>
    <div class="info-container">
        <div class="container-project">
            <div class="upper-container-project">

                <div class="upper-container-project-left">
                    <div class="admin-pic-project">
                        <img id="profilepic3" src="<%= project.pic_path %>">
                    </div>
                    <div class="uni-pic-project">
                        <img id="profilepic3" src="/images/UPC_Logo.png" />
                    </div>
                    <div class="department-pic-project">
                        <img id="profilepic3" src="/images/Lostworld.png">
                    </div>
                </div>


                <div class="description-project admin-title">
                    <strong>Admin:<strong> <span class="admin"><%
                    if(project.name || project.lastname){%>
                        <%= project.name + '  ' + project.lastname %>
                        <% } else {%>
                        <%= project.username%>
                        <% } %>
                    </span>
                </div>
                
                <div class="description-project admin-title zero">    
                    <div class="project-info-wrapper">
                        <div class="one">
                            <span class="light-text "><%= newProject.description %></span>
                        </div>
                        <div class="two">
                           Extents:
                            <span class="light-text "><%= newProject.keywords %></span>
                        </div>
<!--                   </div>-->
                   <br>
                   <br> 
<!--                    <div class="contributors-container">-->
                            <h3>Contributors</h3>
                            <span class="light-text contributors"><%= newProject.contributors.length %></span>
                    </div>
                    <br>

                </div>
                
                
                <% if(newProject.admin.id != userId) { %>
                <div class="contributor-button2">
                    <a class="btn btn-default" href="/profile/project/<%= project._id%>/contributor">Become a contributor</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>